<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="BeiraReportGenSitePU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.jcodetechnologies.beira.service.Admin</class>
    <class>com.jcodetechnologies.beira.service.Downtime</class>
    <class>com.jcodetechnologies.beira.service.Rejects</class>
    <class>com.jcodetechnologies.beira.service.Packing</class>
    <class>com.jcodetechnologies.beira.service.Shift</class>
    <class>com.jcodetechnologies.beira.service.Supervisor</class>
    <class>com.jcodetechnologies.beira.service.Machineruntime</class>
    <class>com.jdeps.beira.model.Partdesc</class>
    <class>com.jdeps.beira.model.Productionitems</class>
    <class>com.jdeps.beira.model.Production</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/beirareportgen?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="1993"/>
    </properties>
  </persistence-unit>
</persistence>
